h1 {
  text-align:center;
}
body {
    background-color: chocolate;
}
table, th, td {
  border:black;
  
}
tr, th {
     line-height: 155px;
     
}

.js-button{
  width: 100%;
  height: 155px;
  font-size : 40px
}

#turns{
  text-align:center;
  font-size : 40px
}
